body{
    background-image: url(https://ichef.bbci.co.uk/ace/standard/1024/cpsprodpb/0B42/production/_130028820_gettyimages-1258514811.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
